.aboutUsTitle {
    text-align: center;
}

.body {
    margin: 15px 6%;
    text-align: left;
}

.ourFoundersTitle {
    margin: 0px 6% 6% 0px;
    padding: 2% 0 0 0;
}
.founderphotos {
    text-align: center;
}

.annie{
    min-width: 172px;
    margin-right: 20px;
    margin-left: 20px;
}

.aboutus{
    background-color: #f8f9fa
}