
footer {
    text-align: center;
    padding: 30px;
    background-color: white;
    
  }
  
  .home {
    color: #ffde59;
    /* ffde59 is our logo yellow */
  }

  content{
    color: #ffde59;
    display: flex; 
  }
 